[user]
    name = Adrian Groh
    email = adrian.groh@t-online.de
    signingkey = adrian.groh@t-online.de

[core]
	editor = nvim
[push]
    autoSetupRemote = true

[pull]
	rebase = true

[commit]
    gpgsign = true

[tag]
    gpgSign = true
[rebase]
	autoStash = true
