[user]
    name = Adrian Groh
    email = adrian.groh@t-online.de
    signingkey = adrian.groh@t-online.de

[core]
	editor = nvim

[pull]
	rebase = false

[commit]
    gpgsign = true

[tag]
    gpgSign = true
