[user]
    name = Jonas Schneider
    email = jonas.max.schneider@gmail.com
    signingkey = 0x1B95684041835F5F

[core]
	editor = nvim
[push]
    autoSetupRemote = true
    
[pull]
	rebase = true

[commit]
    gpgsign = true

[tag]
    gpgSign = true
[rebase]
	autoStash = true
