* {
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    Hanken Grotesk,
    FontAwesome,
    monospace;
  background-color: #09090b;
  border: none;
  color: #f4f4f5;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

.modules-right {
  margin: 5px 10px 5px 0;
}
.modules-center {
  margin: 5px 0 5px 0;
}
.modules-left {
  margin: 5px 0 5px 10px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
} */

#workspaces {
  background-color: #27272a;
  border-radius: 10px;
}

#workspaces button {
  background-color: transparent;
  color: #f4f4f5;
}

#workspaces button:first-child {
}

#workspaces button:last-child {
}

#workspaces button:hover {
  color: #d79921;
}

#workspaces button.focused {
  background-color: #665c54;
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
  background-color: #b16286;
}

#bluetooth,
#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#memory,
#cpu,
#temperature,
#mpris,
#load {
  padding: 0 10px;
  background-color: #27272a;
  color: #f4f4f5;
  border-radius: 9999px;
}

#cava {
  padding: 0 5px;
}

#battery.charging,
#battery.plugged {
  background-color: #98971a;
  color: #282828;
}

@keyframes blink {
  to {
    background-color: #064e3b;
    color: #ebdbb2;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #cc241d;
  color: #ebdbb2;
  animation-name: blink;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#wireplumber.muted {
  background-color: #458588;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#mpris.playing {
  background-color: #d79921;
  color: #282828;
}

#tray menu {
  font-family: sans-serif;
}
